/*mapa*/
html, body {
	height:100%; 
	overflow-y:hidden;
	}

#map{
	width:80%;
	height:100%;
	float:left;	
	margin:0px;
	padding:0px;
}
/*General marker style*/
.map-marker {
	}
	.map-marker .profile_image{
		height: 48px;
		border-radius: 24px;
		-webkit-border-radius: 24px;
		-moz-border-radius: 24px;
		box-shadow: 0 0 4px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
		}
/*Lista lateral*/
#col_lateral{
	width:20%;
	height:100%;
	float:right;
	}
* {
	margin: 0; 
	padding: 0;
	}
div {
	margin: 0px;
	}
 
ul#lista_tweets{
	list-style-type: none;
	height:100%;
	-moz-scrollbars-vertical:scroll;
	overflow-y:scroll;
	}
	ul#lista_tweets h3 {
		font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
		}
 
	ul#lista_tweets li img {
		float: left;
		margin: 0 0px 0 0;
		height: 48px;
		border-radius: 24px;
		-webkit-border-radius: 24px;
		-moz-border-radius: 24px;
		box-shadow: 0 0 4px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
		}
 
	ul#lista_tweets li p {
		font: 200 12px/1.5 Georgia, Times New Roman, serif;
		}
 
	ul#lista_tweets li {
		padding: 10px;
		overflow: auto;
		}
 
	ul#lista_tweets li:hover {
		background: #eee;
		cursor: pointer;
		}
		
.break{
	clear: both;
	display:none;
	margin:0px;
	padding:0px;
	background-color:red;
	
	}
/*Del cajetin de texto*/
.inputHashTag{
	float:right;
	z-index:10;
	}
	
	
	
	
	
	
	
	
	
	
	
